/* Pretty much just overrides the main bootstrap stuff lol */

@font-face {
    font-family: Coolvetica;
    src: url("../resource/fonts/coolvetica.ttf");
}

:root {
    --cah-black: #232323;
    --cah-white: #ffffff;
    --cah-grey: rgb(229,229,229);
    --cah-shadow: rgba(0,0,0,0.4);
    --cah-transparent: rgba(0,0,0,0);
    --cah-green: limegreen;
    --cah-green-transparent: rgba(0, 240, 40, 0.8);
    --cah-red: red;
    --cah-red-transparent: rgba(240, 0, 40, 0.8);
    --cah-border-radius: 0.1in;
}

::-webkit-scrollbar-track
{
    background-color: var(--cah-shadow);
}

::-webkit-scrollbar
{
	width: 0.5em;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--cah-shadow);
}

body {
    background-color: var(--cah-grey);
    
    font-family: Coolvetica, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--cah-black);

    overflow-x: hidden; 
    overflow-y: hidden;
}

.centred {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
}

button {
    background: none;
    padding: 0.05in;
    font-size: 1.5em;
    border: 0.05in solid;
    border-radius: var(--cah-border-radius);
    text-shadow: 0px 0px 0.1in var(--cah-shadow);

    transition: all 0.075s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

button:focus {
    outline: none !important;
}

button:active {
    transform: scale(0.95);
}

#debug-banner {
    width: 100%;
    height: 0.6in;
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: var(--cah-red-transparent);
    overflow: hidden;
    padding-top: 0.18in;
    padding-left: 1%;
    color: var(--cah-white);

    box-shadow: 0px 0px 0.1in var(--cah-shadow);
    z-index: 1000;

    animation-duration: 0.5s;
}

#debug-banner > #debug-text {
    font-size: 1.3em;
    width: 80%;
    top: 40%;
    left: 2%;
    right: 20%;
    font-weight: 300;
}

#debug-banner > #debug-text::before {
    content: "Debug: ";
    color: var(--cah-shadow);
}

#debug-banner > button {
    position: absolute;
    text-align: right;
    right: 1%;
    top: 10%;
}

.card {
    text-align: center;
    /*padding-bottom: 3.2in; /* It's around 2.5 inches wide, 3.5 inches high */
    height: 3.15in;
    max-width: 2.25in;
    max-height: 3.15in;
    border-radius: var(--cah-border-radius);
    box-shadow: 0px 0px 0.15in var(--cah-shadow);
    margin: 0.2in;
    overflow: hidden;
    perspective: 1px; /* Apparently, this fixes clipping on the edges of border-radius'd stuff, http://stackoverflow.com/questions/8705249/css-border-radius-not-trimming-image-on-webkit */
    transition: all 0.1s ease-in-out;

    --card-font-size: 1.2em;
    --card-font-weight: 300;
}

.card:hover {
    transform: scale(1.08);
}

.black {
    background-color: var(--cah-black);
    color: var(--cah-white);
}

.white {
    background-color: var(--cah-white);
    color: var(--cah-black);
}

.card > .text {
    position: absolute;
    text-align: left;
    height: 70%;
    top: 5%; 
    bottom: 5%; 
    left: 8%; 
    right: 8%;
    font-size: var(--card-font-size);
    font-weight: var(--card-font-weight);
    overflow-y: auto;
}

.card > .pack-name {
    position: absolute;
    text-align: left;
    /* Hell yea, if you don't specify the top property, newlines will be pushed up */
    bottom: 5%;
    left: 5%;
    right: 30%;
    font-size: 0.8em;
    font-weight: 200;
    line-height: 90%
}

.card > .pick-amount {
    position: absolute;
    text-align: right;
    bottom: 5%;
    left: 60%;
    right: 8%;
    font-size: var(--card-font-size);
    font-weight: var(--card-font-weight);
    text-transform: uppercase;
}

.card > .pick-amount::before {
    content: "Pick ";
}

.card > textarea[class="blank-input"] {
    width: 90%;
    height: 70%;
    resize: none;
    position: absolute;
    text-align: left;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    font-size: var(--card-font-size);
    font-weight: 400;
    border: none;
    background: var(--cah-transparent);
}

.card > textarea[class="blank-input"]:focus {
    outline: none !important;
}

.card > .clickable {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 25%;
    bottom: 25%;
    left: 0%;
    background-color: var(--cah-transparent);
    z-index: 1;
    padding: 10%;

    transition: all 0.5s ease-in-out;
    transition-delay: 0.1s;
}

.card > .clickable:active {
    box-shadow: 0px 0px 0.1in var(--cah-shadow);
}

.card > .submit, .card > .cancel {
    width: 100%;
    height: 48%;
    position: absolute;
    left: 0%;
    font-size: 1.6em;
    z-index: 2;
    border-radius: 0.1in;
    user-select: none;
    animation-duration: 0.5s;
    transition: all 0.2s ease-in-out;
}

.card > .submit {
    background-color: var(--cah-green-transparent);
    top: 0%;
    padding-top: 28%;
}

.card > .cancel {
    background-color: var(--cah-red-transparent);
    top: 52%;
    padding-top: 25%;
}

#welcome-header {
    text-align: center;
}

/* Game screen-related stuff */
.game-play-area, .game-chat-area {
    position: absolute;
    height: 100%;
}

.game-play-area {
    text-align: center;
}

.game-chat-area {
    text-align: left;
    right: 0%;
    border-left: 0.05in solid var(--cah-shadow);
}