/* Pretty much just overrides the main bootstrap stuff lol */

@font-face {
    font-family: "Coolvetica";
    src: url("../resource/fonts/coolvetica.ttf");
}

:root {
    --cah-black: #232323;
    --cah-white: #ffffff;
    --cah-grey-very-light: rgb(245, 245, 245);
    --cah-grey-semi-light: rgb(235, 235, 235); /* soon it'll be 50 shades of grey */
    --cah-grey-light: rgb(240, 240, 240); 
    --cah-grey-semi-dark: rgb(220, 220, 220);
    --cah-grey-dark: rgb(210, 210, 210);
    --cah-grey-very-dark: rgb(100, 100, 100);
    --cah-grey: rgb(229,229,229);
    --cah-shadow: rgba(0,0,0,0.3);
    --cah-shadow-size: 0.2in;
    --cah-transparent: rgba(0,0,0,0);
    --cah-blue: rgb(140, 180, 240);
    --cah-blue-transparent: rgba(140, 180, 240, 0.8);
    --cah-green: rgb(0, 240, 40);
    --cah-green-transparent: rgba(0, 240, 40, 0.8);
    --cah-red: rgb(240, 0, 40);
    --cah-red-transparent: rgba(240, 0, 40, 0.8);
    --cah-yellow: rgb(240, 200, 0);
    --cah-yellow-transparent: rgba(240, 200, 0, 0.8);
    --cah-font-size-small: 0.95em;
    --cah-font-size-regular: 1.1em;
    --cah-font-size-large: 1.5em;
    --cah-border-radius: 0.1in;
    --cah-small-length: 0.05in;
    --cah-very-small-length: 0.01in;
    --cah-profile-pic-length: 0.4in;
    --cah-duration-short: 0.1s;
    --cah-duration-long: 0.8s;
}

::-webkit-scrollbar-track
{
    background-color: var(--cah-shadow);
}

::-webkit-scrollbar
{
	width: 0.5em;
    height: 0.5em;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--cah-shadow);
}

body {
    background-color: var(--cah-grey);
    
    font-family: Coolvetica, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--cah-black);

    overflow-x: hidden; 
    overflow-y: hidden;
}

body.asswipe {
    cursor: wait !important;
}

.unstyle /* me irl */ {
    all: unset;
}

.centred {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
}

button {
    color: var(--cah-black);
    padding: var(--cah-small-length);
    background-color: var(--cah-grey-light);
    border-radius: var(--cah-border-radius);
    border: none;
    transition: all var(--cah-duration-short) ease;
}

button:hover {
    transform: scale(1.05);
}

button:focus {
    outline: none !important;
}

button:active {
    transform: scale(1);
}

img {
    max-width: 100%;
}

img.add-backdrop {
    background-color: var(--cah-shadow);
}

img:after {
    /* https://bitsofco.de/styling-broken-images/ */
    content: attr(title);
    color: var(--cah-grey-very-dark);
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--cah-grey-dark);
    text-align: center;
    overflow: hidden;
    z-index: 2; /* cover the image */
}

input {
    height: var(--cah-font-size-large);
    padding: var(--cah-small-length);
    padding-left: calc(var(--cah-small-length) * 2);
    padding-right: calc(var(--cah-small-length) * 2);
    font-size: var(--cah-font-size-large);
    border: none;
}

input:focus {
    outline: none !important;
}

textarea/*[class="blank-input"]*/ {
    resize: none;
    text-align: left;
    font-size: var(--card-font-size);
    border: none;
    background: var(--cah-transparent);
}

textarea:focus {
    outline: none !important;
}

hr {
    border: solid var(--cah-very-small-length) var(--cah-grey);
}

.dot {
    display: block;
    width: calc(var(--cah-border-radius) * 1.8);
    height: calc(var(--cah-border-radius) * 1.8);
    border-radius: 50%;
    padding: none !important;
    border: none !important;
}

.dot.red {
    background: var(--cah-red-transparent);
}

.dot.green {
    background: var(--cah-green-transparent);
}

.dot.blue {
    background: var(--cah-blue-transparent);
}

.dot.yellow {
    background: var(--cah-yellow-transparent);
}

#debug-banner {
    width: 100%;
    height: 0.6in;
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: var(--cah-red-transparent);
    overflow: hidden;
    padding-top: 0.18in;
    padding-left: 1%;
    color: var(--cah-white);

    box-shadow: 0px 0px var(--cah-shadow-size) var(--cah-shadow);
    z-index: 1000;

    animation-duration: 0.5s;
}

#debug-banner > #debug-text {
    font-size: 1.3em;
    width: 80%;
    height: 100%;
    top: 40%;
    left: 2%;
    right: 20%;
    font-weight: 300;
    overflow-y: auto;
}

#debug-banner > #debug-text::before {
    content: "Debug: ";
    color: var(--cah-shadow);
}

#debug-banner > button {
    position: absolute;
    text-align: right;
    right: 1%;
    top: 10%;
}

.card {
    text-align: center;
    /*padding-bottom: 3.2in; /* It's around 2.5 inches wide, 3.5 inches high */
    height: 3.15in;
    max-width: 2.25in;
    max-height: 3.15in;
    border-radius: var(--cah-border-radius);
    box-shadow: 0px 0px var(--cah-shadow-size) var(--cah-shadow);
    margin: 0.2in;
    overflow: hidden;
    perspective: 1px; /* Apparently, this fixes clipping on the edges of border-radius'd stuff, http://stackoverflow.com/questions/8705249/css-border-radius-not-trimming-image-on-webkit */
    transition: all 0.1s ease-in-out;

    --card-font-size: 1.2em;
    --card-font-weight: 300;
}

.card:hover {
    transform: scale(1.08);
}

.black {
    background-color: var(--cah-black);
    color: var(--cah-white);
}

.white {
    background-color: var(--cah-white);
    color: var(--cah-black);
}

.card > .text {
    position: absolute;
    text-align: left;
    height: 70%;
    top: 5%; 
    bottom: 5%; 
    left: 8%; 
    right: 8%;
    font-size: var(--card-font-size);
    font-weight: var(--card-font-weight);
    overflow-y: auto;
}

.card > textarea[class="blank-input"] {
    position: absolute;
    width: 90%;
    height: 70%;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
}

.card > .pack-name {
    position: absolute;
    text-align: left;
    /* Hell yea, if you don't specify the top property, newlines will be pushed up */
    bottom: 5%;
    left: 5%;
    right: 30%;
    font-size: 0.8em;
    font-weight: 200;
    line-height: 90%
}

.card > .pick-amount {
    position: absolute;
    text-align: right;
    bottom: 5%;
    left: 60%;
    right: 8%;
    font-size: var(--card-font-size);
    font-weight: var(--card-font-weight);
    text-transform: uppercase;
}

.card > .pick-amount::before {
    content: "Pick ";
}

.card > .clickable {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 25%;
    bottom: 25%;
    left: 0%;
    background-color: var(--cah-transparent);
    z-index: 1;
    padding: 10%;

    transition: all 0.5s ease-in-out;
    transition-delay: 0.1s;
}

.card > .clickable:active {
    box-shadow: 0px 0px 0.1in var(--cah-shadow);
}

.card > .submit, .card > .cancel {
    width: 100%;
    height: 48%;
    position: absolute;
    left: 0%;
    font-size: 1.6em;
    z-index: 2;
    border-radius: 0.1in;
    user-select: none;
    animation-duration: 0.5s;
    transition: all 0.2s ease-in-out;
}

.card > .submit {
    background-color: var(--cah-green-transparent);
    top: 0%;
    padding-top: 28%;
}

.card > .cancel {
    background-color: var(--cah-red-transparent);
    top: 52%;
    padding-top: 25%;
}

#welcome-header {
    text-align: center;
}

/* Game screen-related stuff */
.game-play-area, .game-chat-area {
    position: absolute;
    height: 100%;
}

.game-play-area {
    text-align: center;
    left: 0%;
    z-index: 0;
}

.game-play-area > .big-new-game-button {
    --button-size: 1in;
    color: var(--cah-grey-semi-dark);
    transform: scale(4);
    position: absolute;
    width: var(--button-size);
    height: var(--button-size);
    top: calc(50% - (var(--button-size) / 2));
    left: calc(50% - (var(--button-size) / 2));
    background-color: var(--cah-transparent);
}

.game-play-area > .big-new-game-button:hover {
    color: var(--cah-grey-dark);
}

.game-chat-area {
    --chat-box-height: 0.6in;

    text-align: left;
    right: 0%;
    background-color: var(--cah-grey-light);
    overflow: hidden;
    padding: 0%;
    z-index: 1;
}

.game-chat-area > .chat-messages {
    position: absolute;
    width: calc(100% - (var(--cah-small-length) * 2));
    left: var(--cah-small-length);
    top: var(--cah-small-length);
    bottom: calc(var(--chat-box-height) + var(--cah-small-length));
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    font-size: var(--cah-font-size-regular);
    white-space: pre-wrap; /* now you can make A E S T H E T I C  A R T with proper whitespace */
}

.game-chat-area > .chat-messages > .chat-message {
    padding: var(--cah-small-length);
    border-bottom: var(--cah-very-small-length) solid var(--cah-grey);
}

.game-chat-area > .chat-messages > .chat-message:nth-child(odd) {
    background-color: var(--cah-grey-very-light);
}

.game-chat-area > textarea.chat-box {
    position: absolute;
    bottom: 0%;
    width: calc(100% - var(--chat-box-height));
    height: var(--chat-box-height);
    background-color: var(--cah-white);
}

.game-chat-area > button.chat-submit {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: var(--chat-box-height);
    height: var(--chat-box-height);
    border: none;
    background-color: var(--cah-green);
    border-radius: 0px;
    box-shadow: none;
    overflow: hidden;
}

.game-chat-area > button.chat-submit:hover {
    transform: scale(1);
}

.game-chat-area > button.chat-submit > .fa {
    transition: all var(--cah-duration-short) ease;
}

.game-chat-area > button.chat-submit:hover > .fa {
    padding-right: calc(var(--cah-small-length) * 2);
}

.game-chat-area > button.chat-submit:active > .fa {
    padding-right: 0in;
    padding-left: calc(var(--cah-small-length) * 2);
}

.nav-bar {
    --nav-bar-width: 20%;

    position: fixed;
    left: 0%;
    top: 0%;
    width: var(--nav-bar-width);
    height: 100%;
    background-color: var(--cah-grey-light);
    word-wrap: break-word;
    border-right: var(--cah-very-small-length) solid var(--cah-grey);
    z-index: 2;
}

.nav-bar.stowed {
    left: calc(0% - var(--nav-bar-width));
}

.nav-bar > .toggler {
    position: absolute;
    left: 100%;
    top: calc(var(--cah-small-length) * 4);
    box-shadow: none;
    border-radius: 0in var(--cah-border-radius) var(--cah-border-radius) 0in;
}

.nav-bar > .inner {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}

.nav-bar > .inner > button {
    color: var(--cah-grey-very-dark);
    text-align: left;
    font-size: var(--cah-font-size-large);
    width: 100%;
    background: none;
    border-radius: 0in;
    box-shadow: 0in 0in 0in var(--cah-transparent);
    padding: calc(var(--cah-small-length) * 2);
    border-bottom: var(--cah-very-small-length) solid var(--cah-grey);
    font-weight: 100;
}

.nav-bar > .inner > button:nth-of-type(1) { /* nth-of-type is "less conditional", more elements available */
    border-top: var(--cah-very-small-length) solid var(--cah-grey);
}

.nav-bar > .inner > button:hover {
    transform: scale(1);
    background-color: var(--cah-grey-semi-light);
    padding-left: calc(var(--cah-small-length) * 4);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--cah-shadow);
    z-index: 500;
    overflow-y: scroll;
}

.overlay > .close-button {
    position: fixed;
    right: 1%;
    top: 1%;
}

.popup-menu {
    --popup-normal-size: 55%;

    position: fixed;
    top: calc((100% - var(--popup-normal-size)) / 2);
    left: calc((100% - var(--popup-normal-size)) / 2);
    width: var(--popup-normal-size);
    height: var(--popup-normal-size);
    background-color: var(--cah-grey-semi-light);
    box-shadow: 0px 0px var(--cah-shadow-size) var(--cah-shadow);
    border-radius: var(--cah-border-radius);
    overflow: hidden;
    animation-duration: var(--cah-duration-long);
    z-index: 100;
}

.popup-menu > button.dot.red {
    position: absolute;
    right: var(--cah-small-length);
    top: var(--cah-small-length);
}

.popup-menu > .title {
    position: absolute;
    color: var(--cah-grey-very-dark);
    top: var(--cah-small-length);
    left: calc(var(--cah-small-length) * 2);
    font-size: var(--cah-font-size-small);
    overflow: hidden;
    user-select: none;
}

.popup-menu > .inner {
    position: absolute;
    left: var(--cah-small-length);
    bottom: calc(var(--cah-very-small-length) * 4);
    width: calc(100% - (var(--cah-small-length) * 2));
    height: calc(100% - (var(--cah-small-length) * 7)); /* eugh. odd numbers. */
    border-radius: 0in 0in var(--cah-border-radius) var(--cah-border-radius);
}

.popup-menu > .inner > input {
    width: 100%;
}

.popup-menu > .inner > .twitter-handles {
    position: absolute;
    top: calc(var(--cah-font-size-large) * 2);
    bottom: 0%;
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.popup-menu > .inner > .twitter-handles > .twitter-handle {
    --twitter-handle-height: 0.6in;

    position: relative;
    width: 100%;
    height: var(--twitter-handle-height);
    border-bottom: var(--cah-very-small-length) solid var(--cah-grey);
}

.popup-menu > .inner > .twitter-handles > .twitter-handle:nth-of-type(odd) {
    background-color: var(--cah-grey-light);
}

.popup-menu > .inner > .twitter-handles > .twitter-handle:nth-last-of-type(1) {
    margin-bottom: calc(var(--cah-small-length) * 4);
}

.popup-menu > .inner > .twitter-handles > .twitter-handle > .profile-pic {
    cursor: pointer;
    position: absolute;
    height: 100%;
    border-radius: 50%;
}

.popup-menu > .inner > .twitter-handles > .twitter-handle > .handle-name {
    position: absolute;
    color: var(--cah-grey-very-dark);
    top: 50%; /* these two lines, just to centre text on the y axis. nice one css */
    line-height: calc(50% - (var(--cah-font-size-large) / 2));
    left: calc(var(--twitter-handle-height) + var(--cah-small-length));
    height: 100%;
    font-size: var(--cah-font-size-large);
}

.popup-menu > .inner > .twitter-handles > .twitter-handle > button {
    position: absolute;
    height: 100%;
    right: var(--cah-small-length);
}

@media screen and (max-width: 4in), screen and (max-height: 4in) {
    .popup-menu {
        --popup-mobile-padding: 0.1in;

        top: var(--popup-mobile-padding);
        left: var(--popup-mobile-padding);
        width: calc(100% - (var(--popup-mobile-padding) * 2));
        height: calc(100% - (var(--popup-mobile-padding) * 2));
    }

    .game-play-area, .game-chat-area {
        width: calc(100% - 0.5in);
    }

    .nav-bar {
        --nav-bar-mobile-width: 60%;

        width: var(--nav-bar-mobile-width);
    }

    .nav-bar.stowed {
        left: calc(0% - var(--nav-bar-mobile-width));
    }
}